.icon {
    position: relative;
    padding: 5px;
}


.icon img {
    height: 75px;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
    transition: 0.5s;
    position: relative;
    display: inline-block;
    background-color: #dee2e6;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.15);

}

.icon img:hover {

    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15); 
    animation-fill-mode: forwards;
    box-shadow: none;
    transform: scale(0.98);
   
    
    
}


.tooltip {
    visibility: hidden;
    color: black;
    text-align: center;

    /* Position */
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    font-size: 15px;
    
    /* min-width: fit-content; */
}

.icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
