.icon {
    position: relative;
    padding: 5px;
}


.icon img {
    height: 75px;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0 rgba(202, 199, 199, 0.5),
    8px 8px 8px 0 rgba(41, 42, 44, 0.5);
    background: linear-gradient(135deg,white, #ececec);

}

.icon img:hover {
    transform: scale(1.2);
    animation-fill-mode: forwards;
    transition: 1.5s;
    box-shadow: none
    
}

.tooltip {
    visibility: hidden;
    color: black;
    text-align: center;

    /* Position */
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    font-size: 15px;
    /* min-width: fit-content; */
}

.icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
    z-index: 1;
}
